# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# Java
*.class
*.log
hs_err_pid*

# IDEs and editors
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
/out/
/bin/